*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  height: 100vh;
  width: 100vw;
}
.top{
  width: 100%;
  height: calc(100vh - 90px);

  display: flex;
}
.sidebar{
  width: 225px;
  height: 100%;
  background-color: black;
  overflow: hidden;
}
.logo{
  height: 90px;
  width: 100%;
  display: flex;
  object-fit: contain;
  align-items: center;

}
.logo img{
  width: 60%;
  padding-left: 20px;
}
.minilogo{
  display: none;
  height: 45px;
  padding: 10px 12px 10px 10px;
}
.side-nav{
  height: 135px;
  width: 100%;
}
.side-nav ul li {
  height: calc(135px / 3);
}
.side-nav ul li a{
  display: flex;
  align-items: center;
  height: 100%;
  color: gray;
  text-decoration: none;
}

.side-nav ul li a:hover{
  color: white;
  font-weight: bold;
}
.side-nav ul li img{
  height: 100%;
  padding-right: 10px;
  
}
.side-nav .active{
  padding: 10px;
  color: white;
  font-weight: bold;
  position: relative;
}
.side-nav .active::after {
  position: absolute;
  content: "";
  height: 40px;
  background-color: greenyellow;
  width: 4px;
  bottom:0;
  left:0;

}
.side-nav .normal :hover::after {
  position: absolute;
  content: "";
  height: 40px;
  background-color: greenyellow;
  width: 4px;
  bottom:0;
  left:0;
}
.side-nav .normal{
  padding: 10px;
  position: relative;
}
.playlists{
  width: 100%;
  min-height: 250px;
  height: calc(100% - 180px - 135px);
}

.playlist{
  width: 100%;
  height: 30px;
  padding-left: 20px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
}
.add-playlist{
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.add-playlist a{
  display: flex;
  align-items: center;
  color: gray;
  text-decoration: none;
  font-weight: bold;
}
.add-playlist a:hover{
  color: white;
}
.add-playlist i{
  font-size: 50px;
  padding-right: 10px;
}
.saved-playlists{
  height: calc(100% - 30px - 90px);
  width: 100%;
  overflow-y: auto;
  padding-left: 20px;
  min-height: 100px;
}
.saved-playlists ul{
  list-style: none;
}
.saved-playlists ul li{
  padding: 10px 0px;
  font-weight: bold;
}
.saved-playlists ul li a{
  color: gray;
  text-decoration: none;
}
.saved-playlists ul li a:hover{
  color: white;
}
.app{
  height: 90px;
  width: 100%;
  padding: 0px 20px;
}
.app span{
  margin-left: 10px;
}
.app .installa{
  border-bottom: 1px solid lightgrey;
  font-size: 10px;
}
.app .installa a{
  height: 45px;
  text-decoration: none;
  color: grey;
  display: flex;
  align-items: center;
  font-weight: 700;
}
.app .installa a img{
  height: 20px;
}
.app .user a{
  height: 45px;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  font-weight: 700;
}
.app .user a img{
  height: 30px;
  background-color: grey;
  border-radius: 50%;
}

.mainbar{
  width: calc(100% - 225px);
  height: 100%;
  background-color: #141922;
}
.transparent{
  width:calc(100% - 225px);
  height: 90px;
  background-color: rgb(0, 0, 0, .5);
  position: fixed;
  display: flex; 
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 30px;
  z-index: 999;
}

.transparent .button a{
  color: gray;
  text-decoration: none;
  text-align: center;
  width: 250px;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 50px;
}
.transparent .button a:hover{
  color: white;
  cursor: pointer;
  border-color: white;

}

.music-display{
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 90px;
}
.music-display nav{
  padding: 15px;
  width: 100%;
  font-size: 10px;
}
.music-display nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.music-display nav ul li{
  margin: 0px 10px 20px;
  position: relative;

}
.music-display nav span{
  display: block;
}
.music-display nav ul li a{
  color: grey;
  font-weight: bold;
  text-decoration: none;
}
.music-display .active::after {
  position: absolute;
  content: "";
  height: 5px;
  background-color: greenyellow;
  width: 40px;
  bottom: -10px;
  left:50%;
  transform: translate(-50% , 0%);
  
}
.music-display ul li:hover ::after {
  position: absolute;
  content: "";
  height: 5px;
  background-color: greenyellow;
  width: 40px;
  bottom: -10px;
  left:50%;
  transform: translate(-50% , 0%);
}

.music-display .container{
  width:100%;
  padding: 25px 20px 0px;
  color: white;
}
.music-display .container p{
  padding: 10px 0px 20px;
  color: grey;
}
.music-display .cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  justify-content:stretch;
  padding-top: 30px;
}
.music-display .card{
  max-width: calc( (100vw - 225px) / 6 - 27px);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
  text-align: center;
}
.music-display .imagen{
  position: relative;
}
.music-display .card img{
  width: 100%;
}

.music-display .card .imagen .play{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc( (100vw - 225px) / 6 - 27px) ;
  width: calc( (100vw - 225px) / 6 - 27px) ;
  min-width: 100px;
  min-height: 100px;
  font-size: 30px;
  position: absolute;
  top: 0;
  opacity: 0;
}
.music-display .artisti-piu-popolari .card .imagen .play{
  border-radius: 50%;
}


.music-display .card .imagen .play:hover{
  background-color: rgba(0, 0, 0, .5);
  opacity: 1;
}

.music-display .card:hover{
  cursor: pointer;
}

.music-display .card h3{
  padding: 20px 0px;
}
.music-display .card h4{
  color: grey;
  font-size: 15px;
}
.artisti-piu-popolari .card img{
  border-radius: 50%;
}
.player{
  height: 90px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.now-playing{
  height: 50%;
  display: flex;
  align-items: center;
}
.now-playing img{
  height: 100%;
  padding-left: 10px;
  padding-right: 20px;
}
.now-playing .text{
  padding-right: 30px;
}
.now-playing .text h2{
  font-size: 17px;
  color: white;
}
.now-playing .text h3{
  font-size: 15px;
  color: gray;
}
.now-playing span{
  display: block;
  font-size: 20px;
  padding: 10px;
}
@media screen and (max-width:992px) {
  .music-display .card{
    max-width: calc( (100vw - 225px) / 4 - 30px);
  }
}
@media screen and (max-width:768px) {
  .music-display .card{
    max-width: calc( (100vw - 225px) / 2 - 40px);
  }
}
@media screen and (max-width:576px) {
  .sidebar{
    width: 50px;
  }
  .sidebar .side-nav{
    height: calc(100% - 135px);
    min-height: 130px;
  }
  .sidebar .side-nav span{
    display: none;
  }
  .sidebar .app{
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sidebar .app span{
    display: none;
  }
  .mainbar{
    width: calc(100% - 45px);
  }
  .mainbar .transparent{
    width:calc(100% - 45px);
  }
  .music-display .card{
    max-width: calc( (100vw - 45px) / 2 - 41px);
  }
  .sidebar .logo{
    display: none;
  }
  .minilogo{
    display: block;
  }
  .playlists{
    display: none;
  }
}