* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: grey;
}
.music-display .card img,
.playing,
.playing .bot .big-bar {
  width: 100%;
}
.side-nav ul li a,
.side-nav ul li img,
.music-display,
.now-playing,
.now-playing img,
.playing {
  height: 100%;
}
.side-nav ul li a:hover,
.side-nav .active a,
.playlist,
.add-playlist a:hover,
.saved-playlists ul li a:hover,
.app .user a,
.transparent .button a:hover,
.music-display .container,
.now-playing .text h2,
.playing .top,
.playing .bot,
.playing .top ul a:hover,
.player a:hover,
.player .level .ball:hover {
  color:white
}
.music-display nav ul,
.music-display .cards{  
  display: flex;
  flex-wrap: wrap;
}
.music-display nav ul,
.music-display .card .imagen .play,
.playing .top,
.playing .bot,
.player .icons,
.sidebar .app {
  justify-content: center;
  align-items: center;
}
.logo,
.side-nav ul li a,
.add-playlist,
.playlist,
.add-playlist a,
.app .installa a,
.app .user a,
.transparent,
.music-display .card,
.player,
.now-playing,
.playing .top ul,
.player .vol{
  display: flex;
  align-items: center;
}
.logo,
.app,
.transparent,
.player {
  height: 80px;
}
.side-nav ul li:hover,
.side-nav .active a,
.playlist,
.add-playlist a,
.saved-playlists ul li,
.music-display nav ul li a {
  font-weight: bold;
}
.top {
  height: calc(100vh - 80px);
  display: flex;
}
.sidebar {
  width: 225px;
  background-color: black;
  overflow: hidden;
  padding: 0px 10px;
}
.logo img {
  width: 60%;
}
.minilogo{
  display: none;
  padding-top: 20px;
  height: 60px;
  width: 25px;
}
.side-nav ul li {
  height: calc(135px / 3);
  padding: 10px 0px;
  position: relative;
}
.side-nav ul li img {
  padding-right: 5px; 
}
.side-nav .active::after {
  position: absolute;
  content: "";
  height: 40px;
  background-color: greenyellow;
  width: 4px;
  bottom:0;
  left:-10px;
}
.side-nav :hover::after {
  position: absolute;
  content: "";
  height: 40px;
  background-color: greenyellow;
  width: 4px;
  bottom:0;
  left:-10px;
}
.playlists {
  min-height: 250px;
  height: calc(100% - 180px - 135px);
}
.add-playlist {
  height: 80px;
}
.add-playlist i {
  font-size: 50px;
  padding-right: 10px;
}
.saved-playlists {
  height: calc(100% - 120px);
  overflow-y: auto;
  min-height: 100px;
}
.saved-playlists ul li {
  padding: 10px 0px;
}
.app span {
  margin-left: 10px;
}
.app .installa {
  border-bottom: 1px solid lightgrey;
  font-size: 10px;
}
.app .installa a {
  height: 45px;
  font-weight: 700;
}
.app .installa a img {
  height: 20px;
}
.app .user a {
  height: 45px;
  font-weight: 700;
}
.app .user a img {
  height: 30px;
  background-color: grey;
  border-radius: 50%;
}
.mainbar {
  width: calc(100% - 225px);
  background-color: #141922;
}
.transparent {
  width:calc(100% - 225px);
  background-color: rgb(0, 0, 0, .5);
  position: fixed;
  flex-direction: row-reverse;
  padding-right: 30px;
  z-index: 999;
}
.transparent .button a {
  text-align: center;
  width: 250px;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 50px;
}
.transparent .button a:hover {
  cursor: pointer;
  border-color: white;
}
.music-display {
  overflow-y: auto;
  padding-top: 90px;
}
.music-display nav {
  font-size: 10px;
}
.music-display nav ul li {
  margin: 0px 10px 20px;
  position: relative;
}
.music-display .active::after {
  position: absolute;
  content: "";
  height: 5px;
  background-color: greenyellow;
  width: 40px;
  bottom: -10px;
  left:50%;
  transform: translate(-50% , 0%); 
}
.music-display ul li:hover ::after {
  position: absolute;
  content: "";
  height: 5px;
  background-color: greenyellow;
  width: 40px;
  bottom: -10px;
  left:50%;
  transform: translate(-50% , 0%);
}
.music-display .container {
  width:100%;
  padding: 25px 20px 0px;
}
.music-display .container p {
  padding: 10px 0px 20px;
  color: grey;
}
.music-display .cards {
  gap:20px;
  padding-top: 30px;
}
.music-display .card {
  max-width: calc( (100vw - 225px) / 6 - 27px);
  flex-direction: column;
  text-align: center;
}
.music-display .imagen {
  position: relative;
  max-width: 300px;
}
.music-display .card .imagen .play {
  display: flex;
  height: calc( (100vw - 225px) / 6 - 27px) ;
  width: calc( (100vw - 225px) / 6 - 27px) ;
  max-width: 300px;
  max-height: 300px;
  font-size: 30px;
  position: absolute;
  top: 0;
  opacity: 0;
}
.music-display .artisti-piu-popolari .card .imagen .play {
  border-radius: 50%;
}
.music-display .card .imagen .play:hover {
  background-color: rgba(0, 0, 0, .5);
  opacity: 1;
}
.music-display .card:hover {
  cursor: pointer;
}
.music-display .card h3 {
  padding: 20px 0px;
}
.music-display .card h4 {
  color: grey;
  font-size: 15px;
}
.artisti-piu-popolari .card img {
  border-radius: 50%;
}
.player {
  background-color: #282828;
  justify-content: space-between;
}
.now-playing {
  width: 200px ;
}
.now-playing img {
  padding: 20px 10px;
}
.now-playing .text {
  padding-right: 10px;
}
.now-playing .text h2 {
  font-size: 13px;
}
.now-playing .text h3 {
  font-size: 7px;
  color: gray;
}
.playing .top,
.playing .bot {
  height: 50%;
  display: flex;
}
.player .icons{
  display: flex;
}
.playing .top ul {
  width: 60%;
  max-width: 250px;
  justify-content: space-between;
  font-size: 17px;
}
.playing .top ul :hover{
  scale: 1.1;
}
.playing .top ul li:nth-child(3) {
  font-size: 25px;
}
.playing .bot .big-bar {
  height: 3px;
  max-width: 400px;
  background-color: grey;
  position: relative;
}
.player a {
  padding: 3px;
}
.player span {
  font-size: 10px;
  padding: 3px;
}
.player .vol {
  justify-content: space-around;
  width: 200px ;
  padding: 5px;
}
.player .bar {
  position: relative;
  height: 3px;
  background-color: grey;
  width: 65px;
  border-radius:2px ;
}
.player .level {
  background-color: lightgray;
  height: 3px;
  width: 30%;
}
.player .level .ball {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50% , -50%);
  display: none;
}
.player .big-bar:hover .level,
.player .bar:hover .level {
  background-color: greenyellow;
}
.player .big-bar:hover .ball,
.player .bar:hover .ball{
  display: block;
}
@media screen and (max-width:992px) {
  .music-display .card {
    max-width: calc( (100vw - 225px) / 4 - 30px);
  }
  .music-display .card .imagen .play {
    height: calc( (100vw - 225px) / 4 - 30px) ;
    width: calc( (100vw - 225px) / 4 - 30px) ;
  }
  .music-display .card:nth-child(5),
  .music-display .card:nth-child(6) {
    display: none;
  }
}
@media screen and (max-width:768px) {
  .music-display .card {
    max-width: calc( (100vw - 225px) / 2 - 40px);
  }
  .music-display .card .imagen .play {
    height: calc( (100vw - 225px) / 2 - 40px) ;
    width: calc( (100vw - 225px) / 2 - 40px) ;
  }
  .music-display .card:nth-child(3),
  .music-display .card:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width:576px) {
  .sidebar .minilogo {
    display: block;
  }
  .sidebar .app,
  .player .now-playing .icons {
    display: flex;
    flex-direction: column;
  }
  .now-playing ,
  .vol {
    width: 175px;
  }
  .sidebar .side-nav span,
  .sidebar .app span,
  .sidebar .logo,
  .playlists {
    display: none;
  }
  .sidebar {
    width: 50px;
  }
  .sidebar .side-nav {
    height: calc(100% - 135px);
    min-height: 130px;
  }
  .sidebar .app {
    height: 45px;
  }
  .mainbar {
    width: calc(100% - 45px);
  }
  .mainbar .transparent {
    width:calc(100% - 45px);
  }
  .music-display .card {
    max-width: calc( (100vw - 45px) / 2 - 41px);
  }
  .music-display .card .imagen .play {
    height: calc( (100vw - 45px) / 2 - 41px) ;
    width: calc( (100vw - 45px) / 2 - 41px) ;
  }
}